<html>
<center>
</br>
<%= form_tag url_for(action: 'create'), method: "post" do %>
<%= label_tag 'Titre :' %><br>
<%= text_field_tag 'title' %><br><br>
<%= label_tag 'Description :' %><br>
<%= text_area_tag 'description'%><br><br>
<%= label_tag 'Start_date :' %><br>
<%= text_area_tag 'start_date'%><br><br>
<%= label_tag 'Durée :' %><br>
<%= text_area_tag 'duration'%><br><br>
<%= label_tag 'Price :' %><br>
<%= text_area_tag 'price'%><br><br>
<%= label_tag 'Lieux :' %><br>
<%= text_area_tag 'location'%><br><br>
<%= submit_tag "Valider" %>
<% end %>
<br>
</center>
<center>
<% if @detail.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> Erreur ! </strong>
    <p>Nous n'avons pas réussi à créer un évenement pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</center>
</html>
