<center><h1>Detail de l'event n° <%=@detail.id%></h1></center>
  <p>Prénom de l'organisateur : <%= @detail.user.first_name %><p>
  <p>Nom de l'organisateur : <%= @detail.user.last_name %><p>
  <p>Titre : <%=@detail.title%><p>
  <p>Description : <%=@detail.description%><p>
  <p>Prix : <%=@detail.price%><p>
  <p>ville : <%=@detail.location%><p>
  <p>Durée : <%=@detail.duration%><p>
  <p>Date de début : <%=@detail.start_date%><p>

 
  
  
